.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 10001;
  padding: 20px;
  p {
    margin: 0px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: stretch;
  background: rgb(185, 214, 255);
  padding-top: 20px;
}
